# Capstone Project_London Tech Bar

# Topic: To Find the Best Location to Operate A Futuristic High-Tech Bar

# Introduction

**Background**\
Everyone loves London. London has a long history and is now the financial and technological capital of Europe. The pace of work and life in London is very fast, especially in Central London, which is made of ‘Western Central London’ and ‘Eastern Central London’ and where most of the top schools, financial institutions, international enterprises in London cluster there. 

The advancement of science and technology has brought convenience to people but also great pressure. Although there are already many pubs, cafes, and bars in Central London for workers to relax their stress, many stores have built for a long history and lack leisure atmosphere that incorporate smart technology. We hope to open a futuristic bar where daily life and digital technology can coexist, so that young and middle-age science and technology professionals can also enjoy the welfare and happiness of life brought by technological progress. They can conveniently find the bar, have a drink after work and make geek friends face-to-face, not just on GitHub, to achieve a real work-life balance.

**Business Problem**\
However, different boroughs and locations in Central London have distinct culture background, business environment, public cognition and functional infrastructures. For businessmen who want to open a futuristic bar with high-technology theme and interaction elements in Central London, site selection is particularly important.

There are 4 key factors needed to be considered for site selection:\
**1) Target working place cluster:** Industrial cluster of technology startups and Internet companies\
**2) Target people cluster:** People there have high income/ customer consumption level, but also with high working press\
**3) Accessibility:** Convenient access for people who work nearby\
**4) Culture of having a drink after work:** Several pubs or bars already existed, so people have habits to drink and relax there

**Who Would Be Interested In**\
Businessmen or investors who want to operate or invest a futuristic high-tech bar in Central London.

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Data-Preparation-:-Initial-dataset" data-toc-modified-id="Data-Preparation-:-Initial-dataset-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data Preparation : Initial dataset</a></span><ul class="toc-item"><li><span><a href="#Import-necessary-libraries" data-toc-modified-id="Import-necessary-libraries-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Import necessary libraries</a></span></li><li><span><a href="#Read-dataset" data-toc-modified-id="Read-dataset-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Read dataset</a></span></li><li><span><a href="#Reform-dataframe-and-choose-locations-only-in-Central-London" data-toc-modified-id="Reform-dataframe-and-choose-locations-only-in-Central-London-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Reform dataframe and choose locations only in Central London</a></span></li><li><span><a href="#Use-geocoder.arcgis-package-to-obtain-the-location-coordinates-(latitude-and-longitude)" data-toc-modified-id="Use-geocoder.arcgis-package-to-obtain-the-location-coordinates-(latitude-and-longitude)-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Use geocoder.arcgis package to obtain the location coordinates (latitude and longitude)</a></span></li></ul></li><li><span><a href="#Using-Foursquare-API-to-explore-the-locations" data-toc-modified-id="Using-Foursquare-API-to-explore-the-locations-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Using Foursquare API to explore the locations</a></span><ul class="toc-item"><li><span><a href="#Define-Foursquare-Credentials-and-Version" data-toc-modified-id="Define-Foursquare-Credentials-and-Version-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Define Foursquare Credentials and Version</a></span></li><li><span><a href="#Explore-all-locations-in-the-Central-London" data-toc-modified-id="Explore-all-locations-in-the-Central-London-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Explore all locations in the Central London</a></span></li></ul></li><li><span><a href="#Analyze-venues-in-Central-London" data-toc-modified-id="Analyze-venues-in-Central-London-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Analyze venues in Central London</a></span><ul class="toc-item"><li><span><a href="#Transform-venues-info-into-dummy-variables-for-further-calculating-frequency" data-toc-modified-id="Transform-venues-info-into-dummy-variables-for-further-calculating-frequency-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Transform venues info into dummy variables for further calculating frequency</a></span></li><li><span><a href="#Group-rows-by-Locations-and--by-taking-the-mean-of-the-frequency-of-occurrence-of-each-category" data-toc-modified-id="Group-rows-by-Locations-and--by-taking-the-mean-of-the-frequency-of-occurrence-of-each-category-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Group rows by Locations and  by taking the mean of the frequency of occurrence of each category</a></span></li><li><span><a href="#Let's-put-that-into-a-pandas-dataframe" data-toc-modified-id="Let's-put-that-into-a-pandas-dataframe-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Let's put that into a pandas dataframe</a></span></li></ul></li><li><span><a href="#Cluster-locations-in-Central-London" data-toc-modified-id="Cluster-locations-in-Central-London-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Cluster locations in Central London</a></span><ul class="toc-item"><li><span><a href="#Run-k-means-to-cluster-the-locations-into-5-clusters." data-toc-modified-id="Run-k-means-to-cluster-the-locations-into-5-clusters.-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Run <em>k</em>-means to cluster the locations into 5 clusters.</a></span></li><li><span><a href="#Create-a-new-dataframe-that-includes-the-cluster-as-well-as-the-top-10-venues-for-each-neighborhood." data-toc-modified-id="Create-a-new-dataframe-that-includes-the-cluster-as-well-as-the-top-10-venues-for-each-neighborhood.-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.</a></span></li><li><span><a href="#Visualize-the-resulting-clusters" data-toc-modified-id="Visualize-the-resulting-clusters-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Visualize the resulting clusters</a></span></li></ul></li><li><span><a href="#Examine-Clusters" data-toc-modified-id="Examine-Clusters-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Examine Clusters</a></span><ul class="toc-item"><li><span><a href="#Cluster-1:-Social-activities;-Culture-and-Art;-Tourism" data-toc-modified-id="Cluster-1:-Social-activities;-Culture-and-Art;-Tourism-5.1"><span class="toc-item-num">5.1&nbsp;&nbsp;</span>Cluster 1: Social activities; Culture and Art; Tourism</a></span></li><li><span><a href="#Cluster-2:-Pub;-Creative-lifestyle" data-toc-modified-id="Cluster-2:-Pub;-Creative-lifestyle-5.2"><span class="toc-item-num">5.2&nbsp;&nbsp;</span>Cluster 2: Pub; Creative lifestyle</a></span></li><li><span><a href="#Cluster-3:-Far-away-from-the-center-of-Central-London-in-geographical-location" data-toc-modified-id="Cluster-3:-Far-away-from-the-center-of-Central-London-in-geographical-location-5.3"><span class="toc-item-num">5.3&nbsp;&nbsp;</span>Cluster 3: Far away from the center of Central London in geographical location</a></span></li><li><span><a href="#Cluster-4:-Traditional-lifestyle;Transportation" data-toc-modified-id="Cluster-4:-Traditional-lifestyle;Transportation-5.4"><span class="toc-item-num">5.4&nbsp;&nbsp;</span>Cluster 4: Traditional lifestyle;Transportation</a></span></li></ul></li><li><span><a href="#Results-and-Discussion" data-toc-modified-id="Results-and-Discussion-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Results and Discussion</a></span></li><li><span><a href="#Conclusion" data-toc-modified-id="Conclusion-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Conclusion</a></span></li></ul></div>

## Data Preparation : Initial dataset

**Data needed:**\
We need to extract/generate following data from corresponding data sources:  
-	List of Locations in London, United Kingdom with borough name and postcode
-	Coordinates information (latitude and longitude) of these locations
-	Information of venues around these locations, such as bars, pubs, coffee shops

**Extracting Data:**\
Part1: Scrapping Location Name, London Borough, Post Town, Postcode District, etc information for each locations in London via Wikipedia. 
Data set URL: https://en.wikipedia.org/wiki/List_of_areas_of_London
Part2: Using 'geocoder.arcgis' to get latitude and longitude of these locations via Geocoder package.
Part3: Using Foursquare API to get venue data related to these locations.

### Import necessary libraries

In [2]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation

!conda install -c conda-forge geocoder --yes
import geocoder 

!conda install -c conda-forge geopy --yes 
from geopy.geocoders import Nominatim # module to convert an address into latitude and longitude values

# libraries for displaying images
from IPython.display import Image 
from IPython.core.display import HTML 
    
# tranforming json file into a pandas dataframe library
from pandas.io.json import json_normalize

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

#!conda install -c conda-forge folium=0.5.0 --yes
import folium # plotting library

print('Folium installed')
print('Libraries imported.')

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.

Folium installed
Libraries imported.

### Read dataset

In [3]:
# I can't access wikipedia without VPN, but if I use VPN, it will be very complicated to set up proxy with free foreign server to use pandas or beautifulsoup scrape way. 
# As in this project we focus on data preparation and analysis, so I use a workaround way —— download the website first and read the website file in local.

url = '/Users/x/Desktop/Capstone_project/List of areas of London - Wikipedia.html'
table = pd.read_html(url)
table = table[1]
table

,Location,London borough,Post town,Postcode district,Dial code,OS grid ref
0,Abbey Wood,"Bexley, Greenwich [7]",LONDON,SE2,020,TQ465785
1,Acton,"Ealing, Hammersmith and Fulham[8]",LONDON,"W3, W4",020,TQ205805
2,Addington,Croydon[8],CROYDON,CR0,020,TQ375645
3,Addiscombe,Croydon[8],CROYDON,CR0,020,TQ345665
4,Albany Park,Bexley,"BEXLEY, SIDCUP","DA5, DA14",020,TQ478728
...,...,...,...,...,...,...
528,Woolwich,Greenwich,LONDON,SE18,020,TQ435795
529,Worcester Park,"Sutton, Kingston upon Thames",WORCESTER PARK,KT4,020,TQ225655
530,Wormwood Scrubs,Hammersmith and Fulham,LONDON,W12,020,TQ225815
531,Yeading,Hillingdon,HAYES,UB4,020,TQ115825
532,Yiewsley,Hillingdon,WEST DRAYTON,UB7,020,TQ063804

In [4]:
# check columns
df = pd.DataFrame(table)
df.columns

Index(['Location', 'London borough', 'Post town', 'Postcode district',
       'Dial code', 'OS grid ref'],
      dtype='object')

### Reform dataframe and choose locations only in Central London

In [5]:
# rename columns for further convenience
df = df.rename(columns = {'London\xa0borough':'Borough'})
df = df.rename(columns = {'Postcode\xa0district':'Postcode'})

# remove unnecessary information
df['Borough'] = df['Borough'].map(lambda x: x.rstrip(']').rstrip('0123456789').rstrip('['))

# select data that only be needed
df = df[['Location', 'Borough', 'Postcode', 'Post town']].reset_index(drop=True)
df = df[df['Post town']=='LONDON']

df.head()

     Location                         Borough Postcode Post town
0  Abbey Wood              Bexley, Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham   W3, W4    LONDON
6     Aldgate                            City      EC3    LONDON
7     Aldwych                     Westminster      WC2    LONDON
9     Anerley                         Bromley     SE20    LONDON

In [6]:
# drop the later postcode for those have two code
df['Postcode']=df['Postcode'].str.split(',', expand=True).iloc[:,0]
df.Postcode = df.Postcode.str.strip()
df.head()

     Location                         Borough Postcode Post town
0  Abbey Wood              Bexley, Greenwich       SE2    LONDON
1       Acton  Ealing, Hammersmith and Fulham       W3    LONDON
6     Aldgate                            City      EC3    LONDON
7     Aldwych                     Westminster      WC2    LONDON
9     Anerley                         Bromley     SE20    LONDON

In [7]:
df.shape

(299, 4)

**As we only consider open tech bar in central London, just select postcode with 'WC' for 'Western Central' and 'EC' for 'Eastern Central'**

In [8]:
central_data1 = df[df['Postcode'].str.startswith('WC')].reset_index(drop=True)
central_data1.shape

(8, 4)

In [9]:
central_data2 = df[df['Postcode'].str.startswith('EC')].reset_index(drop=True)
central_data2.shape

(10, 4)

In [11]:
central_data = pd.concat([central_data1, central_data2], sort=False).reset_index(drop=True)
central_data.shape

(18, 4)

### Use geocoder.arcgis package to obtain the location coordinates (latitude and longitude)

In [12]:
# 'geopy.geocoders from Nominatim' method taught in the course is bad for me, I ran the code 200+ times and only success 3 times.'geocoder.arcgis' is much better.

lon=[]
lat=[]

for i in central_data['Location'].tolist():
    g=geocoder.arcgis('{}, London,United Kingdom'.format(i))      
    lon.append(g.x)
    lat.append(g.y)
    
data = {'Latitude': lat, 'Longitude': lon}
data

{'Latitude': [51.513306704512985,
  51.520740000000046,
  51.509010000000046,
  51.51544000000007,
  51.51651000000004,
  51.53043006953565,
  51.47555997818478,
  51.52811000000003,
  51.513308435920024,
  51.45302000000004,
  51.52005005107048,
  51.51204000000007,
  51.522164999999994,
  51.52015000000006,
  51.57168000000007,
  51.48816000000005,
  51.51367880282308,
  51.50978781130632],
 'Longitude': [-0.11709219462088734,
  -0.12309999999996535,
  -0.12471999999996797,
  -0.1269299999999589,
  -0.11967999999995982,
  -0.12310004111573794,
  -0.08509141977511832,
  -0.1252399999999625,
  -0.077762090020195,
  -0.06339999999994461,
  -0.09247002452461052,
  -0.10355999999995902,
  -0.10715175000000866,
  -0.10450999999994792,
  -0.09650999999996657,
  -0.18925999999993337,
  -0.11088490141152504,
  -0.07515285618803139]}

In [13]:
# transform the coordinates info into dataform
coordinates = pd.DataFrame.from_dict(data)

central_data['Latitude'] = coordinates['Latitude']
central_data['Longitude'] = coordinates['Longitude']
central_data = pd.DataFrame(central_data)
central_data.head()

        Location      Borough Postcode Post town   Latitude  Longitude
0        Aldwych  Westminster      WC2    LONDON  51.513307  -0.117092
1     Bloomsbury       Camden      WC1    LONDON  51.520740  -0.123100
2  Charing Cross  Westminster      WC2    LONDON  51.509010  -0.124720
3  Covent Garden  Westminster      WC2    LONDON  51.515440  -0.126930
4        Holborn       Camden      WC1    LONDON  51.516510  -0.119680

In [14]:
central_data.shape

(18, 6)

## Using Foursquare API to explore the locations

London locations geographical coordinates data will be utilized as input for the Foursquare API, that will be leveraged to provision venues information for each.

### Define Foursquare Credentials and Version

In [15]:
CLIENT_ID = 'JUQVELW4D1WMK4SZA4V5AI0CSIDEX4SQDVV03UK034GIQ0QW'
CLIENT_SECRET = '1YK2CVS0WZG30BEK1BFRQ4KFD423IIK4YM4MFQ5MCX24T1Q4'

VERSION = '20180604'
LIMIT = 30

print('Your credentails:')
print('CLIENT_ID: ' + CLIENT_ID)
print('CLIENT_SECRET:' + CLIENT_SECRET)

Your credentails:
CLIENT_ID: JUQVELW4D1WMK4SZA4V5AI0CSIDEX4SQDVV03UK034GIQ0QW
CLIENT_SECRET:1YK2CVS0WZG30BEK1BFRQ4KFD423IIK4YM4MFQ5MCX24T1Q4

In [16]:
address = 'City, United Kingdom'

geolocator = Nominatim(user_agent="x_agent",timeout=4)
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of City of London are {}, {}.'.format(latitude, longitude))

The geograpical coordinate of City of London are 51.5156177, -0.0919983.

### Explore all locations in the Central London

In [17]:
# define a getNearbyVenues function
def getNearbyVenues(locations, latitudes, longitudes, radius=500):
    
    venues_list=[]
    for location, lat, lng in zip(locations, latitudes, longitudes):
        print(location)
            
        # create the API request URL
        url = 'https://api.foursquare.com/v2/venues/explore?&client_id={}&client_secret={}&v={}&ll={},{}&radius={}&limit={}'.format(
            CLIENT_ID, 
            CLIENT_SECRET, 
            VERSION, 
            lat, 
            lng, 
            radius, 
            LIMIT)
            
        # make the GET request
        results = requests.get(url).json()["response"]['groups'][0]['items']
        
        # return only relevant information for each nearby venue
        venues_list.append([(
            location, 
            lat, 
            lng, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

    central_nearby_venues = pd.DataFrame([item for venue_list in venues_list for item in venue_list])
    central_nearby_venues.columns = ['Location', 
                  'Location Latitude', 
                  'Location Longitude', 
                  'Venue', 
                  'Venue Latitude', 
                  'Venue Longitude', 
                  'Venue Category']
    
    return(central_nearby_venues)

In [18]:
# input the coordinates of all the locations in Central London, create a new dataframe called city_venues.

central_venues = getNearbyVenues (locations = central_data['Location'],
                                latitudes=central_data['Latitude'],
                                   longitudes=central_data['Longitude']
                                  )

Aldwych
Bloomsbury
Charing Cross
Covent Garden
Holborn
King's Cross
St Giles
St Pancras
Aldgate
Angel
Barbican
Blackfriars
Clerkenwell
Farringdon
Finsbury
St Luke's
Temple
Tower Hill

In [19]:
print(central_venues.shape)
central_venues.head()

(513, 7)

,Location,Location Latitude,Location Longitude,Venue,Venue Latitude,Venue Longitude,Venue Category
0,Aldwych,51.513307,-0.117092,The Courtauld Gallery,51.511584,-0.117559,Art Museum
1,Aldwych,51.513307,-0.117092,Lundenwic,51.512823,-0.118343,Coffee Shop
2,Aldwych,51.513307,-0.117092,The Delaunay,51.513181,-0.117988,Restaurant
3,Aldwych,51.513307,-0.117092,Aldwych Theatre,51.513053,-0.118993,Theater
4,Aldwych,51.513307,-0.117092,Novello Theatre,51.512280,-0.119322,Theater

In [20]:
print('There are {} uniques categories.'.format(len(central_venues['Venue Category'].unique())))

There are 142 uniques categories.

## Analyze venues in Central London

### Transform venues info into dummy variables for further calculating frequency

In [21]:
# one hot encoding
central_onehot = pd.get_dummies(central_venues[['Venue Category']], prefix="", prefix_sep="")

# add neighborhood column back to dataframe
central_onehot['Location'] = central_venues['Location'] 

# move neighborhood column to the first column
fixed_columns = [central_onehot.columns[-1]] + list(central_onehot.columns[:-1])
central_onehot = central_onehot[fixed_columns]

central_onehot.head()

,Location,American Restaurant,Arcade,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,BBQ Joint,...,Theater,Trail,Train Station,Turkish Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Xinjiang Restaurant
0,Aldwych,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Aldwych,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Aldwych,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Aldwych,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,Aldwych,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [22]:
central_onehot.shape

(513, 143)

### Group rows by Locations and  by taking the mean of the frequency of occurrence of each category

In [23]:
central_grouped = central_onehot.groupby('Location').mean().reset_index()
central_grouped

,Location,American Restaurant,Arcade,Argentinian Restaurant,Art Gallery,Art Museum,Arts & Crafts Store,Asian Restaurant,Athletics & Sports,BBQ Joint,...,Theater,Trail,Train Station,Turkish Restaurant,Vegetarian / Vegan Restaurant,Vietnamese Restaurant,Whisky Bar,Wine Bar,Wine Shop,Xinjiang Restaurant
0,Aldgate,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,Aldwych,0.000000,0.000000,0.000000,0.033333,0.033333,0.000000,0.000000,0.000000,0.000000,...,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.033333,0.000000
2,Angel,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,Barbican,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.033333,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000
4,Blackfriars,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.000000,0.000000
5,Bloomsbury,0.000000,0.033333,0.033333,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000
6,Charing Cross,0.000000,0.000000,0.000000,0.033333,0.033333,0.000000,0.000000,0.000000,0.000000,...,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000
7,Clerkenwell,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000
8,Covent Garden,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.166667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,Farringdon,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.033333,0.066667,0.000000,0.000000
10,Finsbury,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.090909,0.045455,...,0.000000,0.090909,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
11,Holborn,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.100000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000
12,King's Cross,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.066667,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000
13,St Giles,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.033333,0.000000,0.033333,0.000000,0.000000,0.000000,0.033333
14,St Luke's,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
15,St Pancras,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.033333,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
16,Temple,0.000000,0.000000,0.033333,0.033333,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,0.033333,0.000000,0.000000
17,Tower Hill,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.033333,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [24]:
# print each location along with the top 5 most common venues
num_top_venues = 5

for hood in central_grouped['Location']:
    print("----"+hood+"----")
    temp = central_grouped[central_grouped['Location'] == hood].T.reset_index()
    temp.columns = ['venue','freq']
    temp = temp.iloc[1:]
    temp['freq'] = temp['freq'].astype(float)
    temp = temp.round({'freq': 2})
    print(temp.sort_values('freq', ascending=False).reset_index(drop=True).head(num_top_venues))
    print('\n')

----Aldgate----
                  venue  freq
0                 Hotel  0.17
1           Coffee Shop  0.13
2           Salad Place  0.07
3          Cocktail Bar  0.07
4  Gym / Fitness Center  0.07


----Aldwych----
                venue  freq
0             Theater  0.17
1               Hotel  0.10
2        Cocktail Bar  0.03
3          Restaurant  0.03
4  Italian Restaurant  0.03


----Angel----
               venue  freq
0                Pub  0.27
1               Café  0.18
2  Indian Restaurant  0.09
3   Business Service  0.09
4               Park  0.09


----Barbican----
                  venue  freq
0  Gym / Fitness Center  0.17
1           Coffee Shop  0.10
2   Indie Movie Theater  0.07
3            Food Truck  0.07
4                 Hotel  0.03


----Blackfriars----
                venue  freq
0         Coffee Shop  0.10
1  Falafel Restaurant  0.10
2               Hotel  0.07
3                 Pub  0.07
4        Cocktail Bar  0.07


----Bloomsbury----
         venue  freq
0  Coffee Shop  0.10
1        Plaza  0.07
2    Bookstore  0.07
3      Exhibit  0.07
4         Park  0.07


----Charing Cross----
            venue  freq
0         Theater  0.10
1           Hotel  0.07
2    Cocktail Bar  0.07
3    Dessert Shop  0.07
4  Ice Cream Shop  0.07


----Clerkenwell----
                venue  freq
0                 Pub  0.13
1               Hotel  0.10
2         Coffee Shop  0.10
3  Falafel Restaurant  0.07
4          Food Truck  0.07


----Covent Garden----
         venue  freq
0      Theater  0.17
1   Steakhouse  0.07
2  Coffee Shop  0.07
3       Bakery  0.07
4        Hotel  0.03


----Farringdon----
                  venue  freq
0                 Hotel  0.10
1           Coffee Shop  0.10
2  Gym / Fitness Center  0.07
3              Wine Bar  0.07
4                   Pub  0.07


----Finsbury----
                  venue  freq
0                  Café  0.09
1  Gym / Fitness Center  0.09
2    Athletics & Sports  0.09
3                   Pub  0.09
4                 Trail  0.09


----Holborn----
         venue  freq
0      Theater  0.10
1  Coffee Shop  0.10
2        Hotel  0.07
3   Restaurant  0.07
4    Bookstore  0.03


----King's Cross----
           venue  freq
0          Hotel  0.13
1    Coffee Shop  0.07
2  Train Station  0.07
3           Café  0.07
4   Burger Joint  0.07


----St Giles----
                       venue  freq
0                       Café  0.10
1                Coffee Shop  0.07
2                   Beer Bar  0.07
3                       Park  0.07
4  Middle Eastern Restaurant  0.07


----St Luke's----
                venue  freq
0              Garden  0.13
1               Hotel  0.10
2  Italian Restaurant  0.10
3                 Pub  0.10
4       Grocery Store  0.07


----St Pancras----
           venue  freq
0          Hotel  0.10
1    Coffee Shop  0.10
2           Café  0.10
3  Grocery Store  0.03
4      Gift Shop  0.03


----Temple----
            venue  freq
0             Pub  0.23
1     Coffee Shop  0.10
2           Hotel  0.07
3  History Museum  0.07
4        Beer Bar  0.03


----Tower Hill----
                  venue  freq
0                 Hotel  0.17
1  Gym / Fitness Center  0.10
2                Garden  0.10
3                Castle  0.07
4     French Restaurant  0.07

### Let's put that into a pandas dataframe

In [25]:
# define a function

def return_most_common_venues(row, num_top_venues):
    row_categories = row.iloc[1:]
    row_categories_sorted = row_categories.sort_values(ascending=False)
    
    return row_categories_sorted.index.values[0:num_top_venues]

In [37]:
# input to display the top 10 venues for each location.
num_top_venues = 10

indicators = ['st', 'nd', 'rd']

# create columns according to number of top venues
columns = ['Location']
for ind in np.arange(num_top_venues):
    try:
        columns.append('{}{} Most Common Venue'.format(ind+1, indicators[ind]))
    except:
        columns.append('{}th Most Common Venue'.format(ind+1))

# create a new dataframe
central_venues_sorted = pd.DataFrame(columns=columns)
central_venues_sorted['Location'] = central_grouped['Location']

for ind in np.arange(central_grouped.shape[0]):
    central_venues_sorted.iloc[ind, 1:] = return_most_common_venues(central_grouped.iloc[ind, :], num_top_venues)

central_venues_sorted.head()

,Location,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Aldgate,Hotel,Coffee Shop,Gym / Fitness Center,Cocktail Bar,Salad Place,Street Food Gathering,Garden,French Restaurant,Italian Restaurant,Japanese Restaurant
1,Aldwych,Theater,Hotel,Ice Cream Shop,Hotel Bar,Event Space,Pub,Lebanese Restaurant,Korean Restaurant,Creperie,Japanese Restaurant
2,Angel,Pub,Café,Garden,Park,Grocery Store,Indian Restaurant,Fish & Chips Shop,Business Service,Distillery,English Restaurant
3,Barbican,Gym / Fitness Center,Coffee Shop,Indie Movie Theater,Food Truck,Performing Arts Venue,Sushi Restaurant,Lake,Salad Place,Scenic Lookout,Botanical Garden
4,Blackfriars,Coffee Shop,Falafel Restaurant,Hotel,Cocktail Bar,Pub,Gym / Fitness Center,Garden,Indian Restaurant,Italian Restaurant,Juice Bar

In [29]:
central_venues_sorted.shape

(18, 11)

## Cluster locations in Central London

### Run *k*-means to cluster the locations into 5 clusters.

In [38]:
# set number of clusters
kclusters = 4

central_grouped_clustering = central_grouped.drop('Location', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(central_grouped_clustering)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:18]

array([1, 0, 2, 1, 1, 3, 0, 1, 0, 1, 3, 0, 3, 3, 3, 3, 1, 1])

### Create a new dataframe that includes the cluster as well as the top 10 venues for each neighborhood.

In [39]:
# add clustering labels
central_venues_sorted.insert(0, 'Cluster Labels', kmeans.labels_)

In [40]:
central_merged = central_data

# merge central_grouped with central_data to add latitude/longitude for each location
central_merged = central_merged.join(central_venues_sorted.set_index('Location'), on='Location')

central_merged.head()

,Location,Borough,Postcode,Post town,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Aldwych,Westminster,WC2,LONDON,51.513307,-0.117092,0,Theater,Hotel,Ice Cream Shop,Hotel Bar,Event Space,Pub,Lebanese Restaurant,Korean Restaurant,Creperie,Japanese Restaurant
1,Bloomsbury,Camden,WC1,LONDON,51.520740,-0.123100,3,Coffee Shop,Exhibit,Plaza,Bookstore,Park,Japanese Restaurant,Hotel Bar,Café,Korean Restaurant,Shopping Mall
2,Charing Cross,Westminster,WC2,LONDON,51.509010,-0.124720,0,Theater,Ice Cream Shop,Dessert Shop,Hotel,Cocktail Bar,Liquor Store,Burger Joint,Pub,Plaza,Bookstore
3,Covent Garden,Westminster,WC2,LONDON,51.515440,-0.126930,0,Theater,Coffee Shop,Bakery,Steakhouse,Cocktail Bar,Performing Arts Venue,Pizza Place,Chocolate Shop,Ramen Restaurant,Bookstore
4,Holborn,Camden,WC1,LONDON,51.516510,-0.119680,0,Coffee Shop,Theater,Restaurant,Hotel,Café,Burger Joint,English Restaurant,Lebanese Restaurant,Bookstore,Pub

In [41]:
central_merged.shape

(18, 17)

### Visualize the resulting clusters

In [45]:
# create map
map_clusters = folium.Map(location=[latitude, longitude], zoom_start=12)

# set color scheme for the clusters
x = np.arange(kclusters)
ys = [i + x + (i*x)**2 for i in range(kclusters)]
colors_array = cm.rainbow(np.linspace(0, 1, len(ys)))
rainbow = [colors.rgb2hex(i) for i in colors_array]

# add markers to the map
markers_colors = []
for lat, lon, poi, cluster in zip(central_merged['Latitude'], central_merged['Longitude'], central_merged['Location'], central_merged['Cluster Labels']):
    label = folium.Popup(str(poi) + ' Cluster ' + str(cluster), parse_html=True)
    folium.CircleMarker(
        [lat, lon],
        radius=5,
        popup=label,
        color=rainbow[cluster-1],
        fill=True,
        fill_color=rainbow[cluster-1],
        fill_opacity=0.7).add_to(map_clusters)
       
map_clusters

## Examine Clusters

### Cluster 1: Social activities; Culture and Art; Tourism

In [46]:
central_merged.loc[central_merged['Cluster Labels'] == 0, central_merged.columns[[0] + list(range(1, central_merged.shape[1]))]]

,Location,Borough,Postcode,Post town,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
0,Aldwych,Westminster,WC2,LONDON,51.513307,-0.117092,0,Theater,Hotel,Ice Cream Shop,Hotel Bar,Event Space,Pub,Lebanese Restaurant,Korean Restaurant,Creperie,Japanese Restaurant
2,Charing Cross,Westminster,WC2,LONDON,51.509010,-0.124720,0,Theater,Ice Cream Shop,Dessert Shop,Hotel,Cocktail Bar,Liquor Store,Burger Joint,Pub,Plaza,Bookstore
3,Covent Garden,Westminster,WC2,LONDON,51.515440,-0.126930,0,Theater,Coffee Shop,Bakery,Steakhouse,Cocktail Bar,Performing Arts Venue,Pizza Place,Chocolate Shop,Ramen Restaurant,Bookstore
4,Holborn,Camden,WC1,LONDON,51.516510,-0.119680,0,Coffee Shop,Theater,Restaurant,Hotel,Café,Burger Joint,English Restaurant,Lebanese Restaurant,Bookstore,Pub

Cluster 1 is made of 4 locations in Western Central London. The most common venues in these locations are theater, coffee shop. hotel, dessert and bakery shop. We can image that people and tourists in these locations gather together to watch operas, buy ice creams and desserts in the street shops and settle down in nearby hotels after a whole day touring.

### Cluster 2: Pub; Creative lifestyle

In [47]:
central_merged.loc[central_merged['Cluster Labels'] == 1, central_merged.columns[[0] + list(range(1, central_merged.shape[1]))]]

,Location,Borough,Postcode,Post town,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
8,Aldgate,City,EC3,LONDON,51.513308,-0.077762,1,Hotel,Coffee Shop,Gym / Fitness Center,Cocktail Bar,Salad Place,Street Food Gathering,Garden,French Restaurant,Italian Restaurant,Japanese Restaurant
10,Barbican,City,EC1,LONDON,51.520050,-0.092470,1,Gym / Fitness Center,Coffee Shop,Indie Movie Theater,Food Truck,Performing Arts Venue,Sushi Restaurant,Lake,Salad Place,Scenic Lookout,Botanical Garden
11,Blackfriars,City,EC4,LONDON,51.512040,-0.103560,1,Coffee Shop,Falafel Restaurant,Hotel,Cocktail Bar,Pub,Gym / Fitness Center,Garden,Indian Restaurant,Italian Restaurant,Juice Bar
12,Clerkenwell,Islington,EC1,LONDON,51.522165,-0.107152,1,Pub,Coffee Shop,Hotel,Falafel Restaurant,Beer Bar,Food Truck,Flea Market,Electronics Store,Restaurant,Middle Eastern Restaurant
13,Farringdon,Islington & City,EC1,LONDON,51.520150,-0.104510,1,Coffee Shop,Hotel,Wine Bar,Gym / Fitness Center,Pub,Church,Bar,Donut Shop,Breakfast Spot,Falafel Restaurant
16,Temple,"City, Westminster",EC4,LONDON,51.513679,-0.110885,1,Pub,Coffee Shop,History Museum,Hotel,Garden,Park,Distillery,Restaurant,Falafel Restaurant,Building
17,Tower Hill,Tower Hamlets,EC3,LONDON,51.509788,-0.075153,1,Hotel,Gym / Fitness Center,Garden,Castle,French Restaurant,Hostel,Italian Restaurant,Park,Coffee Shop,Museum

Cluster 2 is made of 7 locations in Eastern Central London. The most common venues in these locations are pub, coffee shop, hotel, gym/fitness center, garden/park, salad/falafel restaurant, as well as venues that are not common in other clusters such as indie movie theater, performing arts venue, cocktail bar. They present a creative, energetic, young and vigorous lifestyle.

### Cluster 3: Far away from the center of Central London in geographical location

In [48]:
central_merged.loc[central_merged['Cluster Labels'] == 2, central_merged.columns[[0] + list(range(1, central_merged.shape[1]))]]

,Location,Borough,Postcode,Post town,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
9,Angel,Islington,EC1,LONDON,51.45302,-0.0634,2,Pub,Café,Garden,Park,Grocery Store,Indian Restaurant,Fish & Chips Shop,Business Service,Distillery,English Restaurant

Cluster 3 is made of 1 location in Eastern Central London but far away from the center of Central London. We could obviously leave out this cluster.

### Cluster 4: Traditional lifestyle;Transportation

In [49]:
central_merged.loc[central_merged['Cluster Labels'] == 3, central_merged.columns[[0] + list(range(1, central_merged.shape[1]))]]

,Location,Borough,Postcode,Post town,Latitude,Longitude,Cluster Labels,1st Most Common Venue,2nd Most Common Venue,3rd Most Common Venue,4th Most Common Venue,5th Most Common Venue,6th Most Common Venue,7th Most Common Venue,8th Most Common Venue,9th Most Common Venue,10th Most Common Venue
1,Bloomsbury,Camden,WC1,LONDON,51.52074,-0.123100,3,Coffee Shop,Exhibit,Plaza,Bookstore,Park,Japanese Restaurant,Hotel Bar,Café,Korean Restaurant,Shopping Mall
5,King's Cross,Camden and Islington,WC1,LONDON,51.53043,-0.123100,3,Hotel,Burger Joint,Breakfast Spot,Café,Train Station,Coffee Shop,English Restaurant,Recording Studio,Film Studio,Pub
6,St Giles,Camden,WC2,LONDON,51.47556,-0.085091,3,Café,Coffee Shop,Beer Bar,Gastropub,Middle Eastern Restaurant,Park,Greek Restaurant,Hotel,Gay Bar,Italian Restaurant
7,St Pancras,Camden,WC1,LONDON,51.52811,-0.125240,3,Café,Hotel,Coffee Shop,Grocery Store,English Restaurant,Falafel Restaurant,Breakfast Spot,Bookstore,Chocolate Shop,Pub
14,Finsbury,Islington,EC1,LONDON,51.57168,-0.096510,3,Gym / Fitness Center,Pub,Trail,Athletics & Sports,Café,Baseball Field,Organic Grocery,Park,Gym,Pizza Place
15,St Luke's,Islington,EC1,LONDON,51.48816,-0.189260,3,Garden,Hotel,Pub,Italian Restaurant,Tapas Restaurant,Café,Grocery Store,Pizza Place,Bar,Road

Cluster 4 is made of 6 locations in both Eastern and Western Central London. As St Luke, St Giles and Finsbury are also far away from the center of Central London according to the map, we leave out these three locations. The most common venues in the remaining three locations are café, coffee shop, hotel, restaurant from various countries, as well as venues that are not common in other clusters such as train station. They present a traditional European lifestyle.

## Results and Discussion

After analyzing these 4 clusters’ characteristics, and taking the 4 key factors for site selection raised in the introduction part - Target working place cluster, Target people cluster, Accessibility, Culture of having a drink after work - into consideration, we can see 4 Eastern Central London locations in Cluster 2 (Aldgate, Barbican, Blackfriars, Clerkenwell) may meet our requirements. First, there are many pubs so that people there already have the habits on drinking after work, know there are bars and pubs in that borough and will be more likely to try a new bar. Second, the number of gym/fitness center, salad/falafel restaurant and juice bar in Cluster 2 is significantly larger than that of other clusters, indicating that people there choose to keep an energetic and healthy living habit. Moreover, venues for young and fashion people such as indie movie theater, performing arts venue, cocktail bar are especially common in Cluster 2, meaning that people there will try modern and futuristic things. Therefore, we prefer locations in Cluster 2.

## Conclusion

The aim of this project is to assist businessmen or investors in making decisions to select a propriate location to operate or invest a futuristic high-tech bar in Central London, by exploring venues around target locations and get preliminary portrait and business environments around them. We start by processing Central London Locations’ basic and coordinates information extracted from Wikipedia and Geocoder, then using Foursquare API to get the information of venues around those locations, and finally using K-means clustering machine learning algorithm to cluster those locations based on the similarity of their venue category and frequency. We find locations in Cluster 2 present a creative, energetic, young and vigorous lifestyle so that preliminarily match the theme - ‘balancing work and life in high-technology interaction’ – of our futuristic high-tech bar. Further work should be done to take other factors, such as the number and distribution of high-tech companies, rental fee, theme of pub/bar’s nearby, into consideration to shortlist the locations, and present more valuable information for site selection reference.